<!DOCTYPE html>

<html> 
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/dashboard.css') }}">
    </head>
    <body>
        <header>
            <h1>{{ user[2] }}'s Dashboard</h1>
            <ul>
                <li><a class="active" id="dashboard_link" href="/">Dashboard</a></li>
                <li><a id="profile_link" href="/profile">Profile</a></li>
                <!-- <li><a href="/example_link">example_link</a></li> -->
                <li style="float: right"><a id="log_out_link" href="/log_out">Log Out</a></li>
            </ul>
            {% if get_flashed_messages() %}
                <div id="flashes">
                    {% for message in get_flashed_messages()%}
                        {{ message|safe }}
                    {% endfor %}
                </div>
            {% endif %}
        </header>
        <section>
            <h3>Requests</h3>
            {% if user[4]==True %}
                <p>
                    {% if requests %}
                        <form method="post" action="">
                            <table>
                                <tr>
                                    <th>Requester Username</th>
                                    <th>Request Type</th>
                                    <th>Approved</th>
                                </tr>
                                {% for request in requests %}
                                    <tr>
                                        <td name="request_username">{{ request[1] }}</td>
                                        <td>{{ request[2] }}</td>
                                        {% if request[3]==True %}
                                            <td><input type="checkbox" name="approved" value="1" onclick="return false;" checked></td>
                                        {% else %}
                                            <td><input type="hidden" value="0"><input type="checkbox" name="approved" value="1" onclick="this.previousSibling.value=1-this.previousSibling.value"></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <button id="submit_button" type="submit">Submit</button>
                        </form>
                    {% else %}
                        No requests yet.
                    {% endif %}
                </p>
            {% else %}
                <p>
                {% if requests %}
                    <table>
                        <tr>
                            <th>Requester Username</th>
                            <th>Request Type</th>
                            <th>Approval Status</th>
                        </tr>
                        {% for request in requests %}
                            <tr>
                                <td>{{ request[1] }}</td>
                                <td>{{ request[2] }}</td>
                                <td>{{ "Approved" if request[3]==True else "Awaiting Approval" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    No requests yet.
                    <p>
                        <form method="post" action="">
                            <input id="network_request_input" type="checkbox" name="network_request" value="1" required>Request a network account<br>
                            <button id="submit_button" type="submit">Submit</button>
                        </form>
                    </p>
                {% endif %}
                </p>
            {% endif %}
        </section>
    </body>
</html>