<!DOCTYPE html>

<html> 
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/dashboard.css') }}">
    </head>
    <body>
        <header>
            <h1>{{ request.cookies.get('username') }}'s Dashboard</h1>
            <ul>
                <li><a class="active" href="/">Dashboard</a></li>
                <!-- <li><a href="/example_link">example_link</a></li> -->
                <li style="float: right"><a href="/log_out">Log Out</a></li>
            </ul> 
        </header>     
        <section>
            <h3>Example Heading</h3>
            <p>Lorem ipsum dolor sit amet, brute persius voluptua at vel, commodo verterem vulputate mel et. Eam ad expetendis consetetur, cu pro feugiat legimus imperdiet. Has persius aliquam definiebas te, cu pro possit admodum, eam omnis sonet decore et. Ei eos oporteat efficiantur, mundi consequuntur qui ei. Qui viris mollis democritum at, et summo homero elaboraret mel.</p>
            <p>In amet aliquip repudiandae his. Ei volumus appetere vulputate eum. Ad his omnes copiosae urbanitas. An has nostro dictas reprehendunt, in similique percipitur sed. At menandri deserunt usu, primis scripta an vis, ut nec quas aliquam corpora.</p>
            <p>Vis mentitum partiendo an. Quo ei nonumy ridens, ut pro postea omittam. Diam laudem atomorum his ei, nam cu conceptam constituto. Pro ea vero cotidieque. Veniam instructior definitionem te per. Pro ut augue tollit labores.</p>
            <p>No has eros error placerat, nec labitur appareat dignissim no, enim verear vim at. Sumo splendide efficiantur has an, ius nonumes urbanitas liberavisse et. Noster impedit pertinax usu cu. Mollis veritus docendi sea eu. Possim denique quaerendum ea vel, ad amet paulo usu, iisque nostrum ut quo. Sed eu purto elit scribentur, est invidunt periculis complectitur cu.</p>
            <p>Eos vocent labitur ut. No salutandi laboramus pro, cum homero soleat possit no. Ad illud option platonem eam, choro expetendis vituperata sed et. Nostrum pericula facilisis et vim, quis patrioque te sit. Verterem periculis deterruisset sit ea, vis eu nulla moderatius vituperatoribus. In elaboraret voluptatibus sea, in enim oratio sea.</p>
            <p>Ei civibus recusabo facilisis nam, an sea voluptua lucilius, quis noluisse quaestio ad usu. Sumo quando vituperatoribus te vel, pri in ullum etiam. Duo in alia aliquip. Vis omnes iudicabit disputando cu, ad mei munere detracto, an eros quando doming eum. Qui dicant quodsi phaedrum te, veniam efficiendi intellegam duo ne. Sea eu utroque menandri recusabo, sit audiam invenire concludaturque ea. Melius mnesarchum vel ne, ea pri molestiae comprehensam signiferumque, id mentitum invidunt definiebas quo.</p>
            <p>Sea ut esse causae fabulas, mei eripuit voluptatibus ad. No omnis veritus eleifend has. Eu iusto oporteat sea. Eu wisi etiam laudem quo. Ullum nostro utroque sed ut, te porro minim pri.</p>
            <p>Pri no quem reque propriae, veniam malorum pro at, te inani maiestatis adolescens duo. His appareat repudiandae id, usu ea aliquam maiorum. Ea quo quem pericula, eum omnis dicat ei. Putant veritus sadipscing mei et, ei cum feugait appareat ullamcorper. Ex usu zril voluptaria dissentias, eam agam idque nostro id.</p>
            <p>Illum saperet inermis te sit, cibo expetenda qui no. Quo quodsi legimus disputationi et, eum cu wisi omnes prompta. Ut est mollis equidem, ea sale commune vix, oratio noster audiam has te. An eros ferri voluptaria mel, ei consul probatus vel, no agam menandri nec. Omnes doctus aliquid in mel, cu qui corpora efficiendi. Per assentior voluptatibus in, vim ne velit mandamus interesset, tempor option id pro.</p>
            <p>Sale errem soleat his ne. Ius ne adhuc moderatius, cum essent saperet at. Corpora postulant ea eam, alii ornatus constituto no eos, autem dolores delectus vim ei. Vim ad impetus tractatos percipitur. Qui consul dolorum ea, no oratio dissentiunt concludaturque usu, ut vis quod audire nominati. An tractatos hendrerit vis. Et mei aperiam admodum, ad agam audiam tincidunt sit, usu eu dicit aperiri.</p>
        </section>
    </body>
</html>