<html>
    <head>
        <title>webapp1</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <form method="post" action="">
            <H1>Welcome to webapp1</H1> <br>
            <div class="imgcontainer">
                <img src="/static/avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <div class="flashes">
                    {% for message in get_flashed_messages()%}
                        {{ message|safe }}
                    {% endfor %}
                </div>
                <button type="submit">Log in</button>
            </div>
        </form>
    </body>
</html>