<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <form method="POST" action="">
            <H1>Log In</H1> <br>
            <div class="flashes">
                {% for message in get_flashed_messages()%}
                    {{ message|safe }}
                {% endfor %}
            </div>
            <div class="imgcontainer">
                <img src="avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
            
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            
                <button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>