<!DOCTYPE html>

<html> 
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/dashboard.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1>{{ user[2] }}'s Profile</h1>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a class="active" href="/profile">Profile</a></li>
                <!-- <li><a href="/example_link">example_link</a></li> -->
                <li style="float: right"><a href="/log_out">Log Out</a></li>
                <li style="float: right"><a href="/change_password">Change Password</a></li>
            </ul>
            {% if get_flashed_messages() %}
                <div id="flashes">
                    {% for message in get_flashed_messages()%}
                        {{ message|safe }}
                    {% endfor %}
                </div>
            {% endif %}
        </header>
        <section>
            <h1>User ID</h1>
            <p>{{ user[0] }}</p>
        </section>
        <section>
            <h1>Email Address</h1>
            <p>{{ user[1] }}</p>
        </section>
        <section>
            <h1>Username</h1>
            <p>{{ user[2] }}</p>
        </section>
        <section>
            <h1>User Role</h1>
            <p>{{ "Admin" if user[4]==True else "User" }}</p>
        </section>
    </body>
</html>