<!DOCTYPE html>

<html> 
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/dashboard.css') }}">
    </head>
    <body>
        <header>
            <h1>{{ user[2] }}'s Profile</h1>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a class="active" href="/profile">Profile</a></li>
                <!-- <li><a href="/example_link">example_link</a></li> -->
                <li style="float: right"><a href="/log_out">Log Out</a></li>
            </ul> 
        </header>
        <section>
            <h3>User Account Information</h3>
            <p>
                <table>
                    <tr>
                        <th>User ID</th>
                        <th>Email Address</th>
                        <th>Username</th>
                        <th>User Role</th>
                    </tr>
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ "Admin" if user[4]==True else "User" }}</td>
                    </tr>
                </table>
            </p>
        </section>
        <section>
            <p>
                <div>
                    <a class="link_button" href="/change_password">Change Password</a>
                </div>
            </p>
        </section>
    </body>
</html>