<html>
    <head>
        <title>Log in to webapp1</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <form method="post" action="">
            <h1>Welcome New User</h1>
            <p>Existing User? <a href="/log_in">Log In</a></p>
            <div class="imgcontainer">
                <img src="/static/avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <label for="confirm_password"><b>Confirm Password</b></label>
                <input type="password" placeholder="Enter Password Again" name="confirm_password" required>
                <input type="checkbox" name="agree" value="1" required>I agree to the terms and conditions<br>
                <div class="flashes">
                    {% for message in get_flashed_messages()%}
                        {{ message|safe }}
                    {% endfor %}
                </div>
                <button type="submit">Submit</button>
                <a href="/log_in"> Existing User? </a>
            </div>
            <div>
                Icon by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </form>
    </body>
</html>